<h1>New player</h1>

<form id="new-player" name="player">
  <div class="field">
    <label for="user_id"> user_id:</label>
    <input type="text" name="user_id" id="user_id" value="<%= user_id %>" >
  </div>

  <div class="field">
    <label for="name"> name:</label>
    <input type="text" name="name" id="name" value="<%= name %>" >
  </div>

  <div class="field">
    <label for="color"> color:</label>
    <input type="text" name="color" id="color" value="<%= color %>" >
  </div>

  <div class="field">
    <label for="gold"> gold:</label>
    <input type="text" name="gold" id="gold" value="<%= gold %>" >
  </div>

  <div class="field">
    <label for="marble"> marble:</label>
    <input type="text" name="marble" id="marble" value="<%= marble %>" >
  </div>

  <div class="field">
    <label for="iron"> iron:</label>
    <input type="text" name="iron" id="iron" value="<%= iron %>" >
  </div>

  <div class="field">
    <label for="coins"> coins:</label>
    <input type="text" name="coins" id="coins" value="<%= coins %>" >
  </div>

  <div class="field">
    <label for="great_kings"> great_kings:</label>
    <input type="text" name="great_kings" id="great_kings" value="<%= great_kings %>" >
  </div>

  <div class="field">
    <label for="great_scholars"> great_scholars:</label>
    <input type="text" name="great_scholars" id="great_scholars" value="<%= great_scholars %>" >
  </div>

  <div class="field">
    <label for="great_generals"> great_generals:</label>
    <input type="text" name="great_generals" id="great_generals" value="<%= great_generals %>" >
  </div>

  <div class="field">
    <label for="great_citizens"> great_citizens:</label>
    <input type="text" name="great_citizens" id="great_citizens" value="<%= great_citizens %>" >
  </div>

  <div class="field">
    <label for="great_navigators"> great_navigators:</label>
    <input type="text" name="great_navigators" id="great_navigators" value="<%= great_navigators %>" >
  </div>

  <div class="field">
    <label for="legion_pool"> legion_pool:</label>
    <input type="text" name="legion_pool" id="legion_pool" value="<%= legion_pool %>" >
  </div>

  <div class="field">
    <label for="galley_pool"> galley_pool:</label>
    <input type="text" name="galley_pool" id="galley_pool" value="<%= galley_pool %>" >
  </div>

  <div class="field">
    <label for="city_pool"> city_pool:</label>
    <input type="text" name="city_pool" id="city_pool" value="<%= city_pool %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Create Player" />
  </div>

</form>

<a href="#/index">Back</a>