<td><%= name %></td>
<td><input type="hidden" id="colorpicker" value="<%= color %>"></td>
<td><%= gold %></td>
<td><%= marble %></td>
<td><%= iron %></td>
<td><%= coins %></td>
<td><%= great_kings %></td>
<td><%= great_scholars %></td>
<td><%= great_generals %></td>
<td><%= great_citizens %></td>
<td><%= great_navigators %></td>
<td><%= legion_pool %></td>
<td><%= galley_pool %></td>
<td><%= city_pool %></td>
<td><%= wheel_level %></td>
<td><%= sailing_level %></td>
<td><%= market_level %></td>
<td><%= monarchy_level %></td>

<td><a href="#/<%= id %>/destroy" class="destroy">Destroy</a></td>