<td><%= name %></td>
<td>
    <%if (inPlayerSignup) { %>
    <input type="hidden" id="colorpicker" value="<%= color %>">
    <% } else { %>
    <div style="display: inline-block; width: 30px; height: 21px; background-color: <%= color %>"></div>
    <% } %>
</td>
<td><%= gold %></td>
<td><%= marble %></td>
<td><%= iron %></td>
<td><%= coins %></td>
<td><%= great_kings %></td>
<td><%= great_scholars %></td>
<td><%= great_generals %></td>
<td><%= great_citizens %></td>
<td><%= great_navigators %></td>
<td><%= legion_pool %></td>
<td><%= galley_pool %></td>
<td><%= city_pool %></td>

<td>
  <%if (inPlayerSignup) { %>
  <a href="#/<%= id %>/destroy" class="destroy">Destroy</a>
  <% } %>
</td>