<p>
  <b>User:</b>
  <%= user_id %>
</p>

<p>
  <b>Name:</b>
  <%= name %>
</p>

<p>
  <b>Color:</b>
  <%= color %>
</p>

<p>
  <b>Gold:</b>
  <%= gold %>
</p>

<p>
  <b>Marble:</b>
  <%= marble %>
</p>

<p>
  <b>Iron:</b>
  <%= iron %>
</p>

<p>
  <b>Coins:</b>
  <%= coins %>
</p>

<p>
  <b>Great kings:</b>
  <%= great_kings %>
</p>

<p>
  <b>Great scholars:</b>
  <%= great_scholars %>
</p>

<p>
  <b>Great generals:</b>
  <%= great_generals %>
</p>

<p>
  <b>Great citizens:</b>
  <%= great_citizens %>
</p>

<p>
  <b>Great navigators:</b>
  <%= great_navigators %>
</p>

<p>
  <b>Legion pool:</b>
  <%= legion_pool %>
</p>

<p>
  <b>Galley pool:</b>
  <%= galley_pool %>
</p>

<p>
  <b>City pool:</b>
  <%= city_pool %>
</p>

<p>
  <b>Wheel level:</b>
  <%= wheel_level %>
</p>

<p>
  <b>Sailing level:</b>
  <%= sailing_level %>
</p>

<p>
  <b>Market level:</b>
  <%= market_level %>
</p>

<p>
  <b>Monarchy level:</b>
  <%= monarchy_level %>
</p>


<a href="#/index">Back</a>