<div class="bbm-modal__topbar">
    <h3 class="bbm-modal__title">It will cost <%= cost %> resources to move to <%= new_rondel_loc %></h3>
</div>
<label for="gold_spinner">Gold (you have <%= gold %>):</label>
<input id="gold_spinner" type="number" name="gold_to_spend" value="0"><br>
<label for="marble_spinner">Marble (you have <%= marble %>):</label>
<input id="marble_spinner" type="number" name="marble_to_spend" value="0"><br>
<label for="iron_spinner">Iron (you have <%= iron %>):</label>
<input id="iron_spinner" type="number" name="iron_to_spend" value="0"><br>
<label for="coins_spinner">Coins (you have <%= coins %>):</label>
<input id="coins_spinner" type="number" name="coins_to_spend" value="0"><br>
<div class="bbm-modal__bottombar">
    <a href="#" id="submit_move">submit</a>
    <a href="#" id="cancel_move">cancel</a>
</div>